<!DOCTYPE html>
<html>

    <head>
        <title>Message App</title>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </head>

    <body>
    <div class="toolbar">
        <h2>MessageApp</h2>
        <h3>Create Room</h3>
        <%= link_to image_tag("AddRoom.png"), "chat_rooms/new", method: :GET %>
        
    </div>
    
    <div class="errors">
        <% if flash[:login_errors] %>
            <% flash[:login_errors].each do |error| %>
                <p> <%= error %> </p>
            <%end%>
        <%end%>
    </div>

     
    <div class="listOfRooms"> 
        <h1>Available rooms</h1>
        <ul style="list-style-type:none;">
            <% @rooms.each do |room| %>
                <li class="Room">
                   <h3><%= link_to room.title , "/messages/"+room.id.to_s %></h3>
                   <span><%= room.desc%></span>
                </li>
            <% end %>
        </ul>  	
    </div>

        
    </body>
  
    
    

</html>