<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	 <div class="toolbar">
        <h2>MessageApp</h2>
    </div>
    <div class="mainBlock">
	<ul class="MessageList">
		<% @messages.each do |message| %>
			<li class="Message" style="list-style-type:none;">
				
				<div class="body">
					<%= message.body %>
				</div>
				
				<div class="sender">
					<%= message.user.email %>
				</div>
				
			</li>
			
		<% end %>
	</ul>
	<form id="messageForm" action="<%= "/messages/"+@room %>" method="POST" data-remote="true">
    	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    	<input type="hidden" name="message[chat_room]" value="<%= @room %>" , placeholder="chat_room">
    	<input type="hidden" name="message[user]" value="<%= cookies[:user] %>" , placeholder="user">
		<textarea id="messageBody" cols="75" rows="3"  name="message[body]" placeholder="body"></textarea>
		<input type="submit" name="submit" placeholder="submit" value="Send">	
	</form>
	</div>
	
	
</body>
</html>